.navbar-custom {
    background-color: rgb(35, 68, 101);
    padding: 15px 20px; /* More padding for better spacing */
  }
  
  /* Space out brand */
  .nav-brand {
    margin-right: 20%;
    font-size: 22px;
    font-weight: bold;
  }
  
  .nav-links .nav-link {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px; /* More padding between links */
    
  }
  
  .nav-links .nav-link:hover {
    color: #d1e3ff !important;
  }
  