/* Apply global styling */
body {
  font-family: Arial, sans-serif;
  padding-top: 60px; /* Prevent content from being covered by the navbar */
  background-color: #f4f4f9;
  margin: 0;
}

/* App container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content layout */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Footer styling */
.footer {
  background-color: rgb(35, 68, 101);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* API Form */
.api-form {
  margin-bottom: 15px;
}

.api-form input {
  width: 80%;
  margin: auto;
  display: block;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.submit-button {
  margin-top: 10px;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
