body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Will move these to a different location at some point */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: backdrop-filter 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 2;
}

.blur-hidden {
    backdrop-filter: blur(0px);
    opacity: 0;
    pointer-events: none;
}


.progress-container {
  width: 300px;
  height: 20px;
  background-color: #eee;
  border-radius: 9999px; /* pill shape */
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: green;
  width: 0%; /* initial width */
  border-radius: 9999px 0 0 9999px; /* round only the left side initially */
  transition: width 0.3s ease;
}




